<div class="row">
    <div class="col-xs-12">
        {% for type in messages|keys %}
            {% for msg in messages[type] %}
                <div class="alert alert-{{ type }} alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ msg }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
