<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dashboard-top-bar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">
                <small>Hello</small>
                {{ app.user.username }}
            </p>
        </div>
        <div class="collapse navbar-collapse" id="dashboard-top-bar">
            <ul class="nav navbar-nav navbar-right">
                <a class="btn btn-default navbar-btn" href="{{ path('logout') }}"><i class="fa fa-power-off"></i> Logout</a>
            </ul>
        </div>
    </div>
</nav>